@selectorWidth: 300;

.pvlSelector{
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: ((@selectorWidth / 2) * -1);
    width: @selectorWidth;
    height: 300px;
    background: @zesty-gray;
    z-index: 1000;
    border-radius: 10px;
    overflow: hidden;
    border: 2px @zesty-gray solid;
    &:before{
        content: '';
        position: fixed;
        z-index:0;
        width: 200%;
        
        height: 200%;
        left: -50%;
        top: -50%;
        background: rgba(0,0,0,.5);
    }

    > div {
        background: #FFF;
        position: relative;
        z-index: 1000;
        background: @zesty-field-blue;
        h1 {
            font-size: 16px;
            padding: 10px 10px 0px 14px;
            margin: 0px;
        }
        input {
            border-radius: 10px;
            padding: 6px 10px;
            border: 1px @zesty-light-gray solid;
            display: block;
            margin: 10px;

            width: 80%;
        }
        > div {
            height: 80%;
            width: 100%;
            background: white;
            overflow-y: scroll;
            ul {
                margin: 0px;
                padding: 0px;
                li {
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                    
                    a {
                        padding: 10px;
                        text-decoration: none;
                        display: block;
                        width: 100%;
                        color: @zesty-grey;
                        font-weight: 400;
                        font-size: 14px;
                        border-bottom: 1px lighten(@zesty-light-gray,20%) solid;
                        &:hover{
                            background: lighten(@zesty-light-gray,20%);
                        }
                    }
                }
            }
        }
    }
}